<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="homePage">
    <nav>
      <a class="getStarted" href="/coins">Get started</a>
      <a class="getStarted" href="/users">Show users</a>
    </nav>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
