<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a class="getStarted" href="/">Home</a>
      <a class="getStarted" href="/coins">Get started</a>
      <a class="getStarted" href="/users">Show users</a>
      <a class="getStarted" href="/donotpush">Do not push</a>
    </nav>
    <div class="listpagecontainer">
      <h1>Coins</h1>
      <a href="/coins/new">Add new coin</a>
      <div class="container">
        <% coins.forEach(function(c) { %>
        <div class="coinContainer">
          <a href="/coins/<%= c.id %>"><%= c.name %> - <%= c.price %></a>
          <form
            action="/coins/<%= c.id %>?_method=DELETE"
            class="delete-form"
            method="POST"
          >
            <button type="submit">X</button>
          </form>
          <% }); %>
        </div>
      </div>
    </div>
  </body>
</html>
