<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>New Coin</h1>
    <form action="/coins" method="POST" autocomplete="off">
      <input
        type="text"
        class="form__field"
        placeholder="name"
        name="coinName"
      />
      <input
        type="text"
        class="form__field"
        placeholder="price"
        name="coinPrice"
      />
      <input
        type="text"
        class="form__field"
        placeholder="description"
        name="coinDescription"
      />
      <button type="submit">Save Coin</button>
    </form>
  </body>
</html>
