<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>New User</h1>
    <form action="/users" method="POST" autocomplete="off">
      <input
        type="text"
        class="form__field"
        placeholder="name"
        name="userName"
      />
      <input
        type="text"
        class="form__field"
        placeholder="password"
        name="userPassword"
      />
      <button type="submit">Save User</button>
    </form>
  </body>
</html>
